<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="{{ site.description }}">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="assets/css/main.css">

    <title>{{ site.title }}</title>
  </head>
  <body>
    {% include nav.html %}
    
    {% if page.title == "Home" %}
    
    <section class="min-vh-100 background-home" style="background-image: url(assets/img/{{ page.image }});">
      <div class="container py-4 p-md-8">
        <div class="card w-100 shadow border-0 min-vh-100" style="opacity: .95;">
          <div class="card-body p-md-8">
            <div class="card-title text-center lead bg-white"><p>LGL Event Management provides creative and professional event planning and management services to clients in Miami, New York City, and Washington, DC.</p>
            <img alt="Photo of Leah Levy" src="assets/img/leah-2.jpg" class="img-thumbnail" width="225">
            </div>

            <blockquote class="p-6"><span class="h2 font-italic">“Leah Levy is the entire package. She is bright, energetic, loyal, professional and gifted. She is the ultimate professional. An event managed by Leah Levy will not only be a success, it will be a supreme success.”</span>
              <p class="mt-3">—Frank Keating<br>
                former Governor of Oklahoma<br>
                currently, president and CEO of the American Bankers Association</p>
            </blockquote>
            
            <p class="card-text text-center"><a class="btn btn-primary btn-lg" href="mailto:leah@lgleventmgmt.com">Contact Leah to plan your event</a></p>
          </div>
        </div>
        {{ content }}
      </div>
      
    </section>

    {% endif %}

    {% if page.title != "Home" %}
      <div class="row m-0" style="background-color: rgba({{ page.color }});">
        <div class="col-md order-2 order-md-1">
          <div class="container py-4 p-md-8 min-vh-100">
            <h1 class="display-4">{{ page.title }}</h1>  
            {{ content }}
            <a class="btn btn-primary btn-lg" href="mailto:leah@lgleventmgmt.com">Email Leah</a> 
          </div>
        </div>
        <div class="col-md p-0 order-1 order-md-2 image-background" style="background-image: url(assets/img/{{ page.image }}); background-size: cover; background-repeat: no-repeat;">
          <div class="h-100 image-cover" style="background-color: rgba({{ page.color }});"></div>
        </div>
      </div>
    {% endif %}

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>

    <!-- Option 2: jQuery, Popper.js, and Bootstrap JS
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>
    -->
  </body>
</html>